#contenedorTotal{
    display: flex;
   
}
h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(20, 20, 118);
}
#btnAgregar{
     border-radius: 20px;
     
}
