body{
  display: flex;
  align-items: center;
  justify-content: center;
}
main{
  width: 1200px;

}
h1{
  text-align: center;
  color: rgb(104, 99, 101);
}
#task-list{
  
  height: 500px;
  border: 1px solid black;
}
#add-task{
  padding: 10px 10px;
  background-color: rgb(59, 59, 239);
}
p{
  float: left;
}

.add-task2{
  border-radius: 50%;
  width: 50px;
  height: 50px;
 
}
#containerBtn {
  display: grid;
  grid-template-columns: auto;
  
  
}
#container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#task-input{
  padding: 10px 10px;
}